body {
  margin: 0px;
  padding: 0px;
}

/* Start Navigation CSS */

.container .nav {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

 .img-thumbail{
  width: 8%;
  padding: 10px;
}

/* End Navigation CSS */





/* Start Slidebar CSS*/

.slidebar {
  max-width: 100%;
}

.slidebar .img-slidebar {
  width: 100%;
  height: auto;
}

/* End Slidebar CSS*/






/* Start category CSS*/

.cate {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
}

.cate ul li {
  float: left;
  list-style-type: none;
}

.cate ul li a {
  text-decoration: none;
  font-family: cursive;
  padding-right: 0.7em;
  padding-left: 0.7em;
  color: black;
}

/* End category CSS*/




/* Start detaill CSS*/

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.detail ul.box-ul {
  float: left;
  width: 38%;
}

.detail .box-ul li {
  list-style-type: none;
}

.detail .box-ul li img {
  width: 25%;
}

.detail .box-ul li h2 {
  font-size: 100%;
}

.detail .box-ul li p {
  font-size: 80%;
}

.detail .box-ul li .btn-success {
  background: #000000;
  color: white;
  border: 0px;
  font-family: cursive;
  width: 75%;
}

.break-point {
  width: 75%;
}

/* End detaill CSS*/




/* Start Company CSS*/

.company h2{
  margin-left: 10%;
  font-family: cursive;
}

.company .company-box {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.company .company-box ul li {
  float: left;
  width: 31%;
  list-style-type: none;
}

.company .company-box ul li img {
  width: 57%;
}

.company .map {
  width: 100%;
  height: auto;
  display: flex;
}

.map .map-box img {
  width: 100%;
  height: auto;
}

/* End Company CSS*/





/* Start About CSS*/

.container .about .about-title {
  display: flex;
  flex-direction: column;
}

.container .about .about-title h2 {
  margin-left: 10%;
  font-family: cursive;
}

.container .about .about-title p {
  margin-left: 10%;
  font-size: 1em;
  padding-right: 20%; 
}

.about .about-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.about .about-box ul.ul-about {
  float: left;
  width: 30%;
}

.about .about-box ul.ul-about li {
  list-style-type: none;
}

.about .about-box ul.ul-about li img {
  width: 26%;
  height: auto;
}

.about .about-box ul.ul-about li a {
  text-decoration: none;
  color: #000000;
  font-family: cursive;
  font-size: 1em;
  font-weight: bold;
}

.about .about-box ul.ul-about li p {
  font-size: 0.7em;
}

/* End About CSS*/





/*Start Contact CSS*/

.container .contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .contact img {
  width: 100%;
  height: auto;
}

.container .contact img.img-margin {
  width: 80%;
  margin: 10%;
}

/*End Contact CSS*/





/*start footer CSS*/

.container .footer {
  background-color: #000000;
  padding-bottom: 1%;
}

.footer .footer-logo img {
  width: 22%;
  height: auto;
  margin: 5%;
}

.footer .footer-nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer .footer-nav .ul-foot-nav {
  float: left;
}

.footer .footer-nav .ul-foot-nav li {
  text-decoration: none;
}

.footer .footer-nav .ul-foot-nav li.par {
  font-size: 1.2em;
  font-family: cursive;
}

.footer .footer-nav .ul-foot-nav li a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.break-point-footer {
  width: 90%;
}


.footer .footer-socical {
  color: white;
  display: flex;
  justify-content: flex-start;
}

.footer .footer-socical ul {
  list-style-type: none;
  width: 100%;
}

.footer .footer-socical ul li {
  list-style-type: none;
  float: left;
  margin-left: 5%;
}


.footer .footer-end ul li {
  list-style-type: none;
  color: white;
  font-size: .8em;
}

/*end footer CSS*/





/**
 * CSS DESKTOP
 **/
